version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces/CreditAI:cached
    command: sleep infinity
    env_file:
      - ${ENV_FILE:-../.env}
